img{
height:50vh;
width:50vh;
justify-items: center;
border-radius: 25px;
}


.title{
    color: red;
}

body{

    background-image: url('https://media.istockphoto.com/photos/abstract-futuristic-background-with-a-pedestal-picture-id1311473275?b=1&k=20&m=1311473275&s=170667a&w=0&h=TQrpH65THptzwZHrMLx6Z5ItaG3aG2rCIYNt8l59NQk=');
    color: aliceblue;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 3;
    
}

.bord{
    
    margin-top: 1.5cm;
    display: flex;
    border: solid;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    /* flex-wrap: wrap; */
    width: 70%;
    font-family: 'Times New Roman', Times, serif;
    
}


button{
    width: 15vh;
    height: 4vh;
    background-color: darkorange;
    color: black;
    border-radius: 2px;
}
